<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changePassword">Change Password</h4>
            </div>
            <form name="changePwd" #changePwd="ngForm" (ngSubmit)="onSubmit(changePwd)" novalidate>
                <div class="modal-body">
                    <div class="err text-center" *ngIf="!!formErr.err">{{formErr.err}}</div>
                    <div class="text-center" *ngIf="!!formErr.success">{{formErr.success}}</div>
                    <div class="form-group">
                        <label class="control-label">Old Password:</label>
                        <input type="password" name="oldPwd" class="form-control" [(ngModel)]="pwdUser.oldPassword" pattern="^[A-Za-z_]\w{3,25}$" #oldpwd="ngModel" required>
                        <span class="err h6" *ngIf="!oldpwd.valid && oldpwd.touched">Please enter a valid password</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password:</label>
                        <input type="password" name="newPwd" class="form-control" [(ngModel)]="pwdUser.password" pattern="^[A-Za-z_]\w{3,25}$" #newpwd="ngModel" required>
                        <span class="err h6" *ngIf="!newpwd.valid && newpwd.touched">Please enter a valid password</span>
                        <span class="err h6" *ngIf="(newpwd.value == oldpwd.value) && newpwd.touched">New password cannot be the same as old password</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!changePwd.valid">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>